section.container
    .menu
        .menu-name
            h1.menu-title Behind each of our cups hides an <span class="menu-active">amazing surprise</span>
        .menu-tabs
            .menu-tab.menu-tab__coffee.menu-tab__active
                .menu-tab__icon 
                    img.menu-tab__ico(src=require("../assets/images/svg/coffee.svg"), alt="coffee")
                p.menu-tab__name coffee
            .menu-tab.menu-tab__tea
                .menu-tab__icon 
                    img.menu-tab__ico(src=require("../assets/images/svg/tea.svg"), alt="tea")
                p.menu-tab__name tea
            .menu-tab.menu-tab__dessert
                .menu-tab__icon 
                    img.menu-tab__ico(src=require("../assets/images/svg/dessert.svg"), alt="dessert")
                p.menu-tab__name dessert
        .gallery 
            .gallery-card
                .gallery-image 
                    img.gallery-img(src=require("../assets/images/coffee/coffee-1.jpg"), alt="coffee")
                .gallery-info
                    h4.gallery-title Irish coffee
                    p.gallery-text Fragrant black coffee with Jameson Irish whiskey and whipped milk
                    p.gallery-price $7.00
            .gallery-card
                .gallery-image 
                    img.gallery-img(src=require("../assets/images/coffee/coffee-2.jpg"), alt="coffee")
                .gallery-info
                    h4.gallery-title Kahlua coffee
                    p.gallery-text Classic coffee with milk and Kahlua liqueur under a cap of frothed milk
                    p.gallery-price $7.00
            .gallery-card
                .gallery-image 
                    img.gallery-img(src=require("../assets/images/coffee/coffee-3.jpg"), alt="coffee")
                .gallery-info
                    h4.gallery-title Honey raf
                    p.gallery-text Espresso with frothed milk, cream and aromatic honey
                    p.gallery-price $5.50
            .gallery-card
                .gallery-image 
                    img.gallery-img(src=require("../assets/images/coffee/coffee-4.jpg"), alt="coffee")
                .gallery-info
                    h4.gallery-title Ice cappuccino
                    p.gallery-text Cappuccino with soft thick foam in summer version with ice
                    p.gallery-price $5.00
            .gallery-card
                .gallery-image 
                    img.gallery-img(src=require("../assets/images/coffee/coffee-5.jpg"), alt="coffee")
                .gallery-info
                    h4.gallery-title Espresso
                    p.gallery-text Classic black coffee
                    p.gallery-price $4.50
            .gallery-card
                .gallery-image 
                    img.gallery-img(src=require("../assets/images/coffee/coffee-6.jpg"), alt="coffee")
                .gallery-info
                    h4.gallery-title Latte
                    p.gallery-text Espresso coffee with the addition of steamed milk and dense milk foam
                    p.gallery-price $5.50
            .gallery-card
                .gallery-image 
                    img.gallery-img(src=require("../assets/images/coffee/coffee-7.jpg"), alt="coffee")
                .gallery-info
                    h4.gallery-title Latte macchiato
                    p.gallery-text Espresso with frothed milk and chocolate
                    p.gallery-price $5.50
            .gallery-card
                .gallery-image 
                    img.gallery-img(src=require("../assets/images/coffee/coffee-8.jpg"), alt="coffee")
                .gallery-info
                    h4.gallery-title Coffee with cognac
                    p.gallery-text Fragrant black coffee with cognac and whipped cream
                    p.gallery-price $6.50

                
                
